<%= form_with(model: prestation) do |form| %>
  <% if prestation.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(prestation.errors.count, "error") %> prohibited this prestation from being saved:</h2>

      <ul>
        <% prestation.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :ClientName, style: "display: block" %>
    <%= form.select :ClientName, @client_name, include_blank: true %>
  </div>

  <div>
    <%= form.label :Date, style: "display: block" %>
    <%= form.date_field :Date %>
  </div>

  <div>
    <%= form.label :Description, style: "display: block" %>
    <%= form.text_field :Description %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
