<%= form_with(model: prestation) do |form| %>
  <% if prestation.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(prestation.errors.count, "error") %> prohibited this prestation from being saved:</h2>

      <ul>
        <% prestation.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
<div style="background: #D8D8D8; padding:10px">
  <div class="field">
    <%= form.label :ClientName, style: "display: block;" %>
    <%= form.select :ClientName, @client_name, include_blank: true %>
  </div>
  <%= link_to "+ Add Client", "/clients/new" %>

  <div>
    <%= form.label :Date, style: "display: block"%>
    <%= form.date_field :Date  %>
  </div>

  <div>
    <%= form.label :Description, style: "display: block" %>
    <%= form.text_field :Description, style:"width: 75%; height: 75px" %>
  </div>

  <div>
    <%= form.submit %>
  </div>

</div>
<% end %>
