<%= form_with(model: prestation) do |form| %>
  <% if prestation.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(prestation.errors.count, "error") %> prohibited this prestation from being saved:</h2>

      <ul>
        <% prestation.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="row">
    <div class="col-sm">
      <%= form.label :"Client Name", style: "display: block; margin-top:1%", class:"NewPrestationLabel" %>
      <%= form.select :ClientName, @client_name,  style:"width: 25%", include_blank: true %>
      <%= link_to "+ Add Client", "/clients/new" %>
    </div>

    <div class="col-sm", class="float-right">
      <%= form.label :Date, style: "display: block; margin-top:1%", class:"NewPrestationLabel"%>
      <%= form.date_field :Date,class:"NewPrestationDate"%>
    </div>
  </div>
  <div>
    <%= form.label :Description, style: "display: block; margin-top:1%", class:"NewPrestationLabel" %>
    <%= form.text_field :Description, class:"NewPrestationDescription"%>
  </div>

  <div>
    <%= form.submit :Save, style:"background-color: none; margin-top:1%", class:"btn btn-primary" %>
  </div>


<% end %>
