<p style="color: green"><%= notice %></p>

<p></p><p></p>

<h1>My Clients</h1>
<div id="games">
  <%i = 0 %>
  <div class="row">
    <% @clients.each do |client| %>
    <div class="col-sm">
    <%= render client %>
      <%= link_to "Show this game", client %>
    </div>
    <%i = i + 1 %>
      <% if(i == 3) %>
      <% i = 0 %>>
        <div class="w-100"></div>
      <% end %>
    <% end %>
  </div>
</div>

<p></p><p></p>

<h1>My Prestations</h1>
<div id="games">
  <%i = 0 %>
  <div class="row">
    <% @prestations.each do |prestation| %>
      <div class="col-sm">
        <%= render prestation %>
        <%= link_to "Show this game", prestation %>
      </div>
      <%i = i + 1 %>
      <% if(i == 3) %>
        <% i = 0 %>>
        <div class="w-100"></div>
      <% end %>
    <% end %>
  </div>
</div>
