<div id="<%= dom_id client %>">
  <p>
    <strong>Name:</strong>
    <%= client.Name %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= client.Email %>
  </p>

  <p>
    <strong>Phonenumber:</strong>
    <%= client.PhoneNumber %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= client.Description %>
  </p>

</div>
