

<div class="MainContent">
  <h1>Infos</h1>
  <p style="color: green"><%= notice %></p>
  <div  class="EditClientPanel">
    <%= render @client %>
    <div>
      <%= link_to "Edit this client", edit_client_path(@client) %> |
      <%= link_to "Back to clients", clients_path %>

      <%= button_to "Destroy this client", @client, method: :delete, class: "btn btn-light"%>
    </div>
  </div>
</div>



